.swiper {
  width: 100%;
  height: 100vh;
}

.swiperSlide {
  // background-position: center;
  // background-size: cover;
}
// .img {
//   animation: zoomIn 12s linear 0s 1 normal;
// }

// .swiper-slide-active.img{
//   animation: zoomIn 12s linear 0s 1 normal both;
// }

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.swiper-slide-active .slideImg,
.swiper-slide-duplicate-active .slideImg,
.swiper-slide-prev .slideImg {
  animation: zoomIn 12s linear 0s 1 normal both;
}

.slideImg .img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  // animation: zoomIn 12s linear 0s 1 normal both;
}

.title {
  position: absolute;
  top: 24%;
  right: 25%;
  color: #fff;
  font-size: 34px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  z-index: 8;
  line-height: 2.4;
  letter-spacing: 1.3rem;
}
