.about {
  background: url(/images/bg.png) no-repeat center center/cover;
  padding-top: 150px;
  padding-bottom: 94px;
}

.inner {
  max-width: 1180px;
  writing-mode: initial;
  text-orientation: initial;
  margin: 0 auto;
  padding-left: 5.208vw;
  padding-right: 5.208vw;

  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;

  // @include v.mq(ml) {
  //   -ms-writing-mode: tb-rl;
  //   writing-mode: vertical-rl;
  //   text-orientation: upright;
  // }

  .titleHead {
    margin-top: -84px;
  }

  .title {
    font-size: 28px;
    line-height: 2.4;
    margin-right: -4.896vw;
    letter-spacing: 14px;
  }

  .textWrap,
  .sign {
    text-align: right;
    letter-spacing: 6px;
  }

  .textWrap {
    margin-right: 3.958vw;
  }

  .text {
    text-align: left;
    margin-top: 24px;
    line-height: 2.4;
    margin-left: 5.104vw;

    // @include v.mq(ml) {
    //   margin-left: v.vw(98);
    // }
  }

  .sign {
    font-size: 22px;
    letter-spacing: 14px;
  }
}
